body {
  min-width: var(--layout-min);

  font-weight: 400;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;

  background-color: var(--bg-color);

  color: var(--text-color);

  @media (width > 1920px) {
    font-size: vw(16);
  }
}

main {
  overflow: hidden;
  min-height: calc(100vh - var(--header-size));
}

fieldset {
  min-width: 0;
}

.nl {
  display: none;
  @media (width >= 540px) {
    display: block;
  }
}

.dmz-prof {
  font-weight: 700;
  color: var(--brand-color-second);
}

.decor-element {
  position: absolute;
  z-index: -1;

  &-one {
    left: -75px;
    width: 300px;

    @media (width >= 600px) {
      width: 350px;
      left: 0;
    }

    @media (width >= 1024px) {
      width: 450px;
    }

    @media (width > 1920px) {
      width: vw(450);
    }
  }
}