.root {
  position: relative;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  span {
    display: none;
    margin-bottom: 1px;

    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;

    color: var(--brand-color-first);
  }

  &::before {
    content: '';
    position: absolute;
    left: 60px;
    bottom: 0;

    display: none;
    width: 1px;
    height: 16px;

    opacity: 0.5;
    background-color: var(--brand-color-second);
  }

  svg {
    width: 50px;
    height: auto;
    margin-bottom: 0;

    fill: var(--brand-color-first);
  }

  @media (width >= 1024px) {

    svg {
      margin-right: 20px;
    }

    span, &::before {
      display: inline-block;
    }
  }

  @media (width > 1920px) {
    span {
      margin-bottom: vw(1);
      font-size: vw(14);
    }

    &::before {
      left: vw(60);

      width: vw(1);
      height: vw(16);
    }

    svg {
      width: vw(50);
      margin-right: vw(20);
    }
  }
}
