$time-for-image-animation: 15s;

.root {
  position: relative;
  display: none;

  svg {
    width: 600px;
    height: auto;
  }

  @media (width >= 1024px) {
    display: inline-block;
    width: 50%;

    svg {
      position: absolute;
      top: -50px;
      left: -50px;
      z-index: -1;
    }
  }

  @media (width >= 1366px) {
    svg {
      left: 0;
      width: 700px;
    }
  }

  @media (width >= 1600px) {
    svg {
      width: 850px;
    }
  }

  @media (width > 1920px) {
    svg {
      top: vw(-50);
      width: vw(850);
    }
  }
}

.background-wall {
  path {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: both;

    &:nth-child(1) {
      animation-delay: .15s
    }

    &:nth-child(2) {
      animation-delay: .3s
    }

    &:nth-child(3) {
      animation-delay: .45s
    }

    &:nth-child(4) {
      animation-delay: .60s
    }

    &:nth-child(5) {
      animation-delay: .75s
    }

    &:nth-child(6) {
      animation-delay: .9s
    }

    &:nth-child(7) {
      animation-delay: 1.05s
    }

    &:nth-child(8) {
      animation-delay: 1.2s
    }

    &:nth-child(9) {
      animation-delay: 1.35s
    }

    &:nth-child(10) {
      animation-delay: 1.5s
    }

    &:nth-child(11) {
      animation-delay: 1.65s
    }

    &:nth-child(12) {
      animation-delay: 1.8s
    }

    &:nth-child(13) {
      animation-delay: 1.95s
    }

    &:nth-child(14),
    &:nth-child(15),
    &:nth-child(16),
    &:nth-child(17),
    &:nth-child(18),
    &:nth-child(19),
    &:nth-child(20),
    &:nth-child(21) {
      opacity: 1;
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: draw 2s ease-out forwards;
    }
  }
}

.loader {
  animation: fadeIn .5s ease both;

  path {
    &:first-child {
      stroke-width: 22px;
      stroke-dasharray: 400;
      stroke-dashoffset: -150;
      animation: draw $time-for-image-animation ease-out forwards infinite;
    }

    &:nth-child(2) {
      stroke-width: 2px;
      stroke-opacity: .7;
    }
  }

  .percent {
    opacity: 0;
    animation: fadeIn $time-for-image-animation ease-out forwards infinite;
  }
}

.folder-way {
  opacity: 1;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: drawWithPause $time-for-image-animation ease-out forwards infinite;
}

.flying-folder {
  animation: bounceOutRight $time-for-image-animation ease-out forwards infinite;
}

.ok path {
  animation: strokeColor $time-for-image-animation ease-out forwards infinite;
}

@keyframes fadeIn {
  0%, 85% {
    opacity: 0;
  }
  91%, 100% {
    opacity: 1;
  }
}

@keyframes strokeColor {
  0%, 85% {
    stroke: #263238;
  }
  87%, 100% {
    stroke: #3AB496;
  }
}

@keyframes draw {
  85%, 100% {
    stroke-dashoffset: 0;
  }
}

@keyframes drawWithPause {
  0%, 85% {
    stroke-dashoffset: 1000;
  }
  95% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1000;
  }
}

@keyframes bounceOutRight {
  0%, 90% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scaleX(1);
  }

  95% {
    transform: translate3d(-20px, 0, 0) scaleX(0.9);
  }

  100% {
    opacity: 0;
    transform: translate3d(2000px, 0, 0) scaleX(2);
  }
}