.overlay {
  position: fixed;
  inset: 0;
  z-index: -1;

  padding-top: 20px;
  max-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  background-color: var(--overlay-color);
  backdrop-filter: var(--overlay-filter);
  opacity: 0;

  transform: scale(0);
  transition-property: opacity, transform;
  transition-timing-function: ease;
  transition-duration: .3s;

  pointer-events: none;
  overflow-y: auto;

  @media (width >= 540px) {
    padding-top: 50px;
  }
}

.content {
  position: relative;
  padding: 50px 10px;
  max-width: 95%;
  width: 750px;

  border-radius: 15px;

  background-color: var(--bg-color);
  color: var(--text-color);

  @media (width >= 540px) {
    padding: 75px 30px;
  }
}

.close-btn {
  position: absolute;
  right: -15px;
  top: -15px;
  z-index: 100;
  padding: 0;
  transition: transform .3s ease;
  font-size: 0 !important;

  svg {
    width: 50px;
    height: 50px;

    fill: var(--brand-color-second);
  }

  @media (hover: hover) {
    &:hover {
      transform: rotate(180deg);
    }
  }
}

.is-open {
  z-index: var(--modal-z-index);

  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

.is-close {
  opacity: 0;
  transform: scale(0);
}