.root {
  a, button {
    padding: 0;
    width: 30px;
    height: 30px;

    &:not(:last-child) {
      margin-right: 30px;
    }

    svg {
      width: 30px;
    }
  }

  @media (width >= 1024px) {
    a, button {
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 30px;
      }
    }
  }

  @media (width > 1920px) {
    a, button {
      width: vw(30);
      height: vw(30);

      &:not(:last-child) {
        margin-bottom: vw(30);
      }

      svg {
        width: vw(30);
      }
    }
  }
}