$header-height: vw($header-size);

.root {
  padding: 0 15px;
  display: flex;
  width: 100%;
  min-height: calc(100vh - var(--header-size));
  max-width: var(--layout-max);
  margin: auto;

  @media (width > 1920px) {
    height: calc(100vh - #{$header-height});
  }
}

.hero {
  &-info {
    padding: 40px 0 30px;
    display: flex;
    flex-direction: column;

    max-width: 650px;
    margin: 0 auto;
  }

  &-title {
    position: absolute;
    font-size: 0;
    overflow: hidden;
  }

  &-description {
    margin-bottom: 40px;
    max-width: 700px;

    font-size: 16px;
    line-height: 2;
    letter-spacing: .1em;
    text-align: center;

    &-one {
      order: 2;
    }

    &-two {
      order: 4;
    }
  }

  &-btn {
    padding: 15px 40px;
    min-width: 175px;
    width: 100%;
    margin: 0 auto 60px;
    opacity: .075 !important;

    &-one {
      order: 3;
    }

    &-two {
      order: 5;
    }
  }

  @media (width >= 1024px) {
    &-info {
      padding: 60px 0 30px;
      width: 50%;
      display: inline-block;
    }
    &-description {

      text-align: left;

      &-two {
        margin-bottom: 60px;
      }
    }
    &-btn {
      width: auto;

      &-one {
        margin-right: 25px;
        margin-bottom: 0;
      }

      &-two {
        margin-bottom: 0;
      }
    }
  }
}

.decor2 {
  position: absolute;
  bottom: -350px;
  right: 0;
}